#btn_claim {
    @include flex-center-row;
    width: 90%;
    background-color: $green;
    color: $white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px auto;
    text-transform: uppercase;
}